.xx1{

    width: 100px;
    height: 90px;
    position: relative; 
    top: 0px; 
    left: 15px;
    font-size: 1.2rem;
}
.xx2{

    width: 100px;
    height: 90px;
    position: relative; 
    top: -90px; 
    left: 250px;
    font-size: 1.2rem;
}

#img-sistemas {
    width: 50px;
    height: 50px;
}

#logoS{
    
    width: 100px;
    height: 90px;
    position: relative; 
    top: 65px; 
    left: 600px;
}

.body {
    font-size: 1.2rem;
}


.fraction {
    display: inline-block;
    vertical-align: middle; 
    margin: 0 0.9em 0.4ex;
    text-align: center;
       

}

.google-visualization-table{
position: relative; 
z-index: 0; max-width: 100%; 
max-height: 100%; 
width: 10%; 
height: 10;
top: 40px; 
left: 100px;

}




.google-visualization-table-table {
    font-size: 50px;}

.fraction > span {
    display: block;
    padding-top: 0.15em;
}
.fraction span.fdn {border-top: thin solid black;}
.fraction span.bar {display: none;}
.radical {
    position: relative;
    font-size: 1.6em;
    vertical-align: middle;
}
.n-root {
    position: absolute;
    top: -0.333em;
    left: 0.333em;
    font-size: 45%;
}
.radicand { 
    padding: 0.25em 0.25em;
    border-top: thin black solid;
}